body {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom right, rgb(145, 255, 42), rgb(253, 139, 158));
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 6%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: antiquewhite;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    
}

.lista {
    background-color: antiquewhite;
    color: black;
    padding: 5%;
    text-align: start;
    width: 40vh;
    border: solid;
    border-color: black;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.747);
    max-height:50vh;
    overflow: auto;
    -webkit-text-stroke-width: 0px;
}

button {
    margin: 5px;
}

.inputTarea {
    margin: 5px;
    margin-bottom: 15px;
    border: solid;
    border-width: 2px;
    border-color: black;
}

.añadir {
    background-color: rgb(255, 255, 255);
    float: inline-end;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.747);
}

.borrar {
    border: none;
    background-color: antiquewhite;
    float: inline-end;
}

.tareasRestantes {
    margin-top: 20px; 
    color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 0px;
}